@model studentFreelance.Models.timming

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>timming</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sports)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sports.sports_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.s19)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.s19)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="t_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
