@model studentFreelance.Models.venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venue_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venue_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venue_pic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venue_pic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venue_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venue_location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.venue_name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
