@model IEnumerable<studentFreelance.Models.venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="booking" asp-action="Add">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venue_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venue_pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venue_location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.venue_name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.venue_name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.venue_name">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
